<h1>Мої курси</h1>
<div class="module">
    {% for course in object_list %}
        <div class="course-info">
            <h3>{{ course.title }}</h3>
            <p>
                <a href="{% url "course_edit" course.id %}">Редагувати</a>
                <a href="{% url "course_delete" course.id %}">Видалити</a>
            </p>
        </div>
    {% empty %}
        <p>Ви ще не створили жодного курсу.</p>
    {% endfor %}
    <p>
        <a href="{% url 'course_create' %}" class="button">Створити новий курс</a>
    </p>
</div>