{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Reset Password{% endblock %}

{% block cssctyle %}
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
<section class="login-section">
    <div class="wrapper">
        {% if validlink %}
            <header>
                <h1>Скинути пароль</h1>
                <p>Введіть ваш новий пароль.</p>
            </header>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-container">
                        {{ field.label_tag }}
                        <div class="field">
                            {% render_field field class="form-control" %}
                        </div>
                        <div class="wrapper">
                            {% if field.help_text %}
                            <small>{{ field.help_text }}</small>
                        {% endif %}
                        </div>
                        <div class="wrapper">
                            {% if field.errors %}
                                {{ field.errors }}
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <button type="submit">Змінити пароль</button>
            </form>
        {% else %}
            <header>
                <h1>Помилка</h1>
                <p>Посилання для скидання пароля недійсне або вже використане.</p>
            </header>
        {% endif %}
        </form>
    </div>
</section>
{% endblock %}