{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Reset password{% endblock %}

{% block cssctyle %}
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}
{% block content %}
<section class="login-section">
    <div class="wrapper">
        <header>
            <h1>Скинути пароль</h1>
            <p>Введіть вашу електронну пошту, щоб скинути пароль.</p>
        </header>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="input-container">
                {{ field.label_tag }}
                <div class="field">
                    {% render_field field class="form-control" %}
                </div>
                <div class="wrapper">
                    {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
                </div>
                <div class="wrapper">
                    {% if field.errors %}
                        {{ field.errors }}
                {% endif %}
                </div>
            </div>
        {% endfor %}
            <button type="submit">Скинути пароль</button>
        </form>
    </div>
</section>
{% endblock %}


