{% load i18n %}
{% blocktrans %}Хтось запросив скидання пароля для електронної пошти{% endblocktrans %} {{ email }}.
{% blocktrans %}Перейдіть за посиланням нижче:{% endblocktrans %} {{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
{% blocktrans %}Ваше ім'я користувача, у випадку, якщо ви його забули:{% endblocktrans %} {{ user.get_username }}
{% blocktrans %}Це лист з автоматичної системи, будь ласка, не відповідайте на нього.{% endblocktrans %}
{% blocktrans %}Якщо ви не запитували скидання пароля, проігноруйте цей лист.{% endblocktrans %}
{% blocktrans %}Якщо посилання не працює, скопіюйте його та вставте в адресний рядок браузера:{% endblocktrans %}
