{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password change</title>
    <link rel="stylesheet" href="{% static 'css/registration_done.css' %}">
</head>
<body>
    <div class="container">
        <h1>Успішна зміна пароля!</h1>
        <p>Вітаємо! Ви змінили пароль.</p>
        <a href="{% url 'dashboard' %}" class="button">Перейти до кабінету</a>
    </div>

</body>
</html>
