<h1>Dashboard</h1>
<p>Welcome to your dashboard.</p>
<a href="{% url 'logout' %}">натисніть тут щоб вийти</a>
<p>юзер {{ user.username }}</p>
<p>email {{ user.email }}</p>
<p>Ім'я {{ user.first_name }}</p>
<p>Прізвище {{ user.last_name }}</p>
{% if user.profile.date_of_birth %}
    <p>Дата народження {{ user.profile.date_of_birth }}</p>
{% endif %}
{% if user.profile.photo %}
    <p><img src="{{ user.profile.photo.url }}" alt="profile photo" height="60px"/></p>
{% endif %}
{% if user.profile.about %}
    <p>Про мене: {{ user.profile.about }}</p>
{% endif %}
<a href="{% url 'edit' %}">Редагувати профіль</a>
<br>
{% if perms.courses.view_course %}
    <a href="{% url 'manage_course_list' %}">Редагувати курси</a>
{% endif %}
<a href="{% url 'course_list' %}">Список всіх курсів</a>
<p><a href="{% url 'enroll_course_list' %}">Мої курси </a></p>
<br>
<a href="{% url 'articles:manage_article_list' %}">Мої статті</a>
<p><a href="{% url 'articles:article_list' %}">Список всіх статей</a></p>