{% load static %}

<h1>Список курсів</h1>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>
<br>

<form method="get">
    {{ form.as_p }}
    <input type="submit" value="Фільтрувати">
    <button type="button" onclick="window.location='?';">Очистити</button>
</form>

<ul>
    {% for course in courses %}
        <li>
            <h2>{{ course.title }}</h2>
            {% if course.logo %}
                <img src="{{ course.logo.url }}" alt="{{ course.title }} logo" style="width: 120px; height: auto;">
            {% else %}
                <img src="{% static 'logos/course-logo-default.jpg' %}" alt="Default course logo" style="width: 120px; height: auto;">
            {% endif %}
            <p>Tags:
                {% for tag in course.tags.all %}
                    <a href="?tags={{ tag.pk }}">{{ tag.name }}</a>
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>
            <p>Rating: {{ course.rating }}</p>
            <p>Passage Time: {{ course.passage_time }}</p>
            <p><a href="{{ course.get_absolute_url }}">Перейти до курсу</a></p>
        </li>
    {% empty %}
        <li>No courses found.</li>
    {% endfor %}
</ul>
